#search{
	width: 250px; margin: 0 auto; max-height: 150px; border: 1px solid #f4f4f4; overflow: hidden;
}
#text{
	width: 250px; padding: 10px; border: 1px solid #f4f4f4; border-radius: 3px;
}
#searchtitle{
	width: 250px; padding: 10px; background: #fff;
}
#searchtitle:hover{
	background: #f4545f;
}

body{
	background: rgb(213,206,166);
}
.user-date {
	width:800px;
	margin: 10px auto;
	background-color: #F5F5DC;
	padding:20px;
}
.user-date-final{
	width:800px;
	margin: 10px auto;
	background-color: #F5EB3B;
	padding:20px;
}

.user-info{
	position: relative;
	left: 43%;
	width: 150px;
	text-align: center;
}
.my-calendar {
	position: relative;
	left: 40%;
	width: 200px;
	text-align: center;
	border: none;
}
.submit-user{
	position: relative;
	text-align: center;
}
.name-user{
	text-align: center;
	position: relative;
	top: 40px;
}

.btn{
	background: #726E6E;
	padding: 7px;
	text-decoration: none;
	width: 50px;
	color: #FFF;
	border: none;
	position: relative;
	top: 10px;
	left: 45%;
	margin: 5px;
}
