body {
	background: #FDFDFD;
    margin:0;
    padding:0;
}
body, input, textarea { 
	font: 14px/24px Helvetica, Arial, sans-serif; 
	color: #666; 
}
input { 
	width: 60% 
}
form { 
	margin: 30px 0 0 0 
}
input, textarea { 
	background: none repeat scroll 0 0 #FFFFFF; 
	border: 1px solid #C9C9C9; 
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset, -5px -5px 0 0 #F5F5F6, 5px 5px 0 0 #F5F5F6, 5px 0 0 0 #F5F5F6, 0 5px 0 0 #F5F5F6, 5px -5px 0 0 #F5F5F6, -5px 5px 0 0 #F5F5F6; 
	color: #545658; 
	padding: 8px; 
	font-size: 14px; 
	border-radius: 2px 2px 2px 2px; 
}
input, textarea, select{
    margin-left:5px;
}
#submit { 

	border: 1px solid #B7D6DF; 
	border-radius: 2px 2px 2px 2px; 
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); 
	color: #437182; 
	cursor: pointer; 
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; 
	font-size: 14px;
	font-weight: bold; 
	height: auto; 
	padding: 6px 10px; 
	text-shadow: 0 1px 0 #FFFFFF; 
	width: auto; 
}
#submit:hover { 
	background: url("../images/submit_hover_bg.gif") repeat-x scroll 0 0 transparent; 
	border: 1px solid #9FBAC0; 
	cursor: pointer; 
}
a { 

	text-decoration: none; 
}
a:hover { 
	color: #f26525 
}
#signup-form { 
	width: 510px; 
	margin: 0 auto; 
	margin-top: 50px; 
	margin-bottom: 50px; 
	background: rgba(181, 200, 199, 0.56);
	padding: 40px;

}
#signup-icon { 
	float: right; 
	width: 48px; 
	height: 48px; 
}
h1, h2, h3, h4, h5, h6 { 
	margin: 0; 
	padding: 0; 
	color: #444; 
}
h1 {
	margin: 0 0 30px; 
	font-size: 24px; 
	line-height: 34px; 
}
h2.secondary { 
	float: left; 
	width: 260px; 
	font-size: 16px; 
	font-weight: normal; 
	color: #999; 
	margin-bottom: 30px; 
	line-height: 26px; 
}
h3 { 
	margin: 30px 0 0 0 
}
.clearfix:after { 
	content: "."; 
	display: block; 
	height: 0; 
	clear: both; 
	visibility: hidden; 
}
.clearfix { 
	display: inline-block 
} /* Hide from IE Mac \*/
.clearfix { 
	display: block; 
} /* End hide from IE Mac */
.none { 
	display: none; 
} /* End Clearfix _NO__DOTCOMMA__AFTER__*/

#header {
	margin: 20px 10px 30px 150px;
    display:block;
}
#header .h1{
	margin-left: 10px;
}
#send p { 
	margin-bottom: 20px 
}
textarea { 
	width: 95%; 
	margin: 0 0 0 2px; 
}
#required p{
	font-size:12px;
}
#apply { 
	border-top: 1px solid #efefef; 
	margin-top: 30px; 
	padding: 20px 0 0 0; 
}
#apply ul { 
	margin-bottom: 50px 
}
form label { 
	display: block; 
	margin-bottom: 5px; 
	font-weight: bold; 
	font-size: 12px; 
}

#container {
	width:960px;
	margin:0 auto;
	background: rgba(31, 32, 105, 0.18);
}

#content {
	float:right;
	width:620px;
	padding-right: 100px;
}

#sidebar {
	top:0; bottom:0; left:0;
	width:150px;
	background: rgba(86, 51, 105, 0.56);
	height: 1250px;

}
#wrapper{
  padding-top: 30px;
}
ul{
	list-style-type: none;
}
#footer {
	clear:both;
	margin-left: 500px;
	margin-top: -40px;

}


#country{
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #C9C9C9;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset, -5px -5px 0 0 #F5F5F6, 5px 5px 0 0 #F5F5F6, 5px 0 0 0 #F5F5F6, 0 5px 0 0 #F5F5F6, 5px -5px 0 0 #F5F5F6, -5px 5px 0 0 #F5F5F6;
	color: #545658;
	padding: 8px;
	font-size: 14px;
	border-radius: 2px 2px 2px 2px;
	width: 308px;
}

#state{
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #C9C9C9;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset, -5px -5px 0 0 #F5F5F6, 5px 5px 0 0 #F5F5F6, 5px 0 0 0 #F5F5F6, 0 5px 0 0 #F5F5F6, 5px -5px 0 0 #F5F5F6, -5px 5px 0 0 #F5F5F6;
	color: #545658;
	padding: 8px;
	font-size: 14px;
	border-radius: 2px 2px 2px 2px;
	width: 308px;
}
#header_title{
	text-align: center;
	margin-bottom: -54px;
	font-size: 25px;
	padding-top: 25px;
}

.error{
    display: none;
    margin-left: 10px;
}		

.error_show{
    color: red;
    margin-top:5px;
    display:block;
}

input.invalid, select.invalid{
    border: 2px solid red;
}

input.valid, select.valid{
    border: 2px solid green;
}

.register-form{
	position: relative;
	top: 100px;
	width: 500px;
	margin: 0 auto;
	text-align: center;
	padding: 10px;
	color: #fff;
	background : #949689;
	border-radius: 10px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
}

.register-form form input{padding: 5px;}
.register-form .btn{
	background: #5D5959;
	padding: 7px;
	border-radius: 5px;
	text-decoration: none;
	width: 50px;
	color: #FFF;
	border: none;
}

.register-form .register{
	border: 0;
	width: 60px;
	padding: 7px;
}

.lunch-btn{
	padding: 7px;
	border-radius: 5px;
	text-decoration: none;
	width: 150px;
	position: relative;
	top:120px;
	left: 550px;
	display: inline-block;
	color: #FFF;
	background-color: #726E6E;
}

.welcome{
    position: relative;
	text-align: center;
}
.form{
	position: relative;
	text-align: center;
}
.form-msg{
	position: relative;
	top: 110px;
	color: #EF1037;
	text-align: center;

}
.form-msg-2{
	position: relative;
	top: 100px;
	color: #EF1037;
	text-align: center;

}
.logout{
	position: relative;
	text-align: center;
}

.user-lunch{
	position: relative;
	top: 50px;
	left: 250px;
	width: 60%;
	text-align: center;

}

.admin-login{
	position: relative;
	top: 100px;
	width: 500px;
	margin: 0 auto;
	text-align: center;
	padding: 10px;
	color: #fff;
	background : #7F7E72;
	border-radius: 10px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
}

.lunch-btn a{
	color: #FFFFFF;
	text-align: center;
}